[submodule "src/PhageLoader"]
	path = src/PhageLoader
	url = https://github.com/noamteyssier/PhageLoader
[submodule "src/MCD-MotifSearch"]
	path = src/MCD-MotifSearch
	url = https://github.com/noamteyssier/MCD-MotifSearch
[submodule "src/AVARDA"]
	path = src/AVARDA
	url = https://github.com/noamteyssier/AVARDA
[submodule "src/immunity"]
	path = src/immunity
	url = https://github.com/noamteyssier/immunity
